<div class="simple-list-content">
  <mat-card *ngFor="let item of items;">
    <span matTooltip="{{ item.tipoConta }}" matTooltipPosition="above" [innerHTML]="item.tipoConta | textLength:'10'"></span>
    <span matTooltip="{{ item.valorConta }}" matTooltipPosition="above" [innerHTML]="item.valorConta | textLength:'10'"></span>
    <span [innerHTML]="item.dataVencimento | formatDate"></span>
    <span [innerHTML]="item.dataPagamento | formatDate"></span>
    <a (click)="deleteItem(item.tipoConta)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card>
  <div class="message" *ngIf="!(items.length > 0)"> Adicione pelo menos uma conta.</div>
</div>