.example-full-width-comentario{
    width: 100%;
} 

.buttonFoot{
    margin-left: 11.5%;
    margin-top: 20px;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }